# Dictionary Datatype Assignment - 50 Questions
This notebook contains solved examples and 50 practice questions with solutions.

In [1]:
# SOLVED EXAMPLE
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")

SOLVED EXAMPLE:
Find the key with maximum value in a dictionary
Dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
Key with maximum value: Diana
Maximum value: 95

### Question 1: Create a dictionary of student names and their ages

In [2]:
students = {'John': 20, 'Alice': 22, 'Bob': 19}
print(students)

{'John': 20, 'Alice': 22, 'Bob': 19}

### Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

In [3]:
d = {'a': 1, 'b': 2, 'c': 3}
d['d'] = 4
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

In [4]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(list(d.keys()))

['name', 'age', 'city']

### Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

In [5]:
d = {'python': 3, 'java': 2, 'c++': 1}
print(list(d.values()))

[3, 2, 1]

### Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

In [6]:
d = {'name': 'Alice', 'age': 30, 'city': 'London'}
print('age' in d)

True

### Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

In [7]:
d = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
d.pop('temp')
print(d)

{'a': 1, 'b': 2, 'c': 4}

### Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

In [8]:
marks = {'math': 85, 'science': 92, 'english': 78}
print(sum(marks.values()))

255

### Question 8: Create a dictionary with squares of numbers 1 to 5

In [9]:
squares = {x: x**2 for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Question 9: Count frequency of each character in string 'hello'

In [10]:
s = "hello"
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

In [11]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [12]:
d = {'person': {'name': 'Alice', 'age': 25}}
print(d)

{'person': {'name': 'Alice', 'age': 25}}

### Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [13]:
d = {'person': {'name': 'Alice', 'age': 25}}
print(d['person']['name'])

Alice

### Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [14]:
d = {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print(d)

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

### Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [15]:
d = {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
d['fruits'].append('orange')
print(d)

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

### Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [16]:
d = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(d)

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

### Question 16: Extract first coordinate from nested tuple

In [17]:
d = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(d['coordinates'][0])

10

### Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [18]:
d = {'vowels': {'a','e','i'}, 'consonants': {'b','c','d'}}
print(d)

{'vowels': {'e', 'a', 'i'}, 'consonants': {'c', 'b', 'd'}}

### Question 18: Add 'o' to vowels set in nested dictionary

In [19]:
d = {'vowels': {'a','e','i'}, 'consonants': {'b','c','d'}}
d['vowels'].add('o')
print(d)

{'vowels': {'o', 'e', 'a', 'i'}, 'consonants': {'c', 'b', 'd'}}

### Question 19: Create a 3-level nested dictionary

In [20]:
d = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(d)

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

### Question 20: Access employee name from 3-level nested dictionary

In [21]:
d = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(d['company']['department']['employee']['name'])

John

### Question 21: Create a dictionary with mixed data types

In [22]:
d = {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print(d)

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

### Question 22: Check data type of each value in mixed dictionary

In [23]:
d = {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
for k,v in d.items():
    print(k, type(v))

int <class 'int'>
float <class 'float'>
str <class 'str'>
bool <class 'bool'>

### Question 23: Create a dictionary with function values

In [24]:
d = {'len': len, 'str': str, 'int': int}
print(d)

{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}

### Question 24: Apply each function to '123' using dictionary

In [25]:
d = {'len': len, 'str': str, 'int': int}
print(d['len']("123"))
print(d['str'](123))
print(d['int']("123"))

3
123
123

### Question 25: Create a dictionary with lambda functions

In [26]:
d = {'double': lambda x: x*2, 'square': lambda x: x**2}
print(d)

{'double': <function <lambda> at 0x000002CAC7F8E340>, 'square': <function <lambda> at 0x000002CAC7FCF240>}

### Question 26: Apply each lambda function to 5

In [27]:
d = {'double': lambda x: x*2, 'square': lambda x: x**2}
print(d['double'](5))
print(d['square'](5))

10
25

### Question 27: Create a dictionary with class values

In [28]:
d = {'list': list, 'dict': dict, 'set': set}
print(d)

{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

### Question 28: Create instances using class dictionary

In [29]:
d = {'list': list, 'dict': dict, 'set': set}
print(d['list']([1,2,3]))
print(d['dict']([('a',1), ('b',2)]))
print(d['set']([1,2,2,3]))

[1, 2, 3]
{'a': 1, 'b': 2}
{1, 2, 3}

### Question 29: Create a dictionary with None values

In [30]:
d = {'a': None, 'b': None, 'c': None}
print(d)

{'a': None, 'b': None, 'c': None}

### Question 30: Replace all None values with 0

In [31]:
d = {'a': None, 'b': None, 'c': None}
d = {k: (0 if v is None else v) for k,v in d.items()}
print(d)

{'a': 0, 'b': 0, 'c': 0}

### Question 31: Create a dictionary with boolean values

In [32]:
d = {'is_active': True, 'is_admin': False}
print(d)

{'is_active': True, 'is_admin': False}

### Question 32: Count True values in boolean dictionary

In [33]:
d = {'is_active': True, 'is_admin': False}
print(list(d.values()).count(True))

1

### Question 33: Create a dictionary with complex numbers

In [34]:
d = {'z1': 3+4j, 'z2': 1+2j}
print(d)

{'z1': (3+4j), 'z2': (1+2j)}

### Question 34: Find magnitude of each complex number

In [35]:
d = {'z1': 3+4j, 'z2': 1+2j}
magnitudes = {k: abs(v) for k,v in d.items()}
print(magnitudes)

{'z1': 5.0, 'z2': 2.23606797749979}

### Question 35: Create a 4-level nested dictionary

In [36]:
d = {'a': {'b': {'c': {'d': 100}}}}
print(d)

{'a': {'b': {'c': {'d': 100}}}}

### Question 36: Access deepest value in 4-level nested dictionary

In [37]:
d = {'a': {'b': {'c': {'d': 100}}}}
print(d['a']['b']['c']['d'])

100

### Question 37: Create a dictionary with range values

In [38]:
d = {'r1': range(3), 'r2': range(5)}
print(d)

{'r1': range(0, 3), 'r2': range(0, 5)}

### Question 38: Convert each range to list

In [39]:
d = {'r1': range(3), 'r2': range(5)}
lists = {k: list(v) for k,v in d.items()}
print(lists)

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

### Question 39: Create a dictionary with generator values

In [40]:
d = {'gen1': (x for x in range(3)), 'gen2': (y**2 for y in range(4))}
print(d)

{'gen1': <generator object <genexpr> at 0x000002CAC7CF5A80>, 'gen2': <generator object <genexpr> at 0x000002CAC7EEE9B0>}

### Question 40: Convert each generator to list

In [41]:
d = {'gen1': (x for x in range(3)), 'gen2': (y**2 for y in range(4))}
lists = {k: list(v) for k,v in d.items()}
print(lists)

{'gen1': [0, 1, 2], 'gen2': [0, 1, 4, 9]}

### Question 41: Create a dictionary with iterator values

In [42]:
d = {'iter1': iter([1,2,3]), 'iter2': iter(['a','b'])}
print(d)

{'iter1': <list_iterator object at 0x000002CAC7FBEE60>, 'iter2': <list_iterator object at 0x000002CAC7FBEDA0>}

### Question 42: Extract all elements from each iterator

In [43]:
d = {'iter1': iter([1,2,3]), 'iter2': iter(['a','b'])}
lists = {k: list(v) for k,v in d.items()}
print(lists)

{'iter1': [1, 2, 3], 'iter2': ['a', 'b']}

### Question 43: Create a dictionary with nested lists

In [44]:
d = {'matrix': [[1,2],[3,4]], 'vector': [5,6,7]}
print(d)

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

### Question 44: Find sum of each nested list

In [45]:
d = {'matrix': [[1,2],[3,4]], 'vector': [5,6,7]}
sums = {k: sum(map(sum,v)) if isinstance(v[0], list) else sum(v) for k,v in d.items()}
print(sums)

{'matrix': 10, 'vector': 18}

### Question 45: Create a dictionary with nested dictionaries

In [46]:
d = {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print(d)

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

### Question 46: Access database port from nested configuration

In [47]:
d = {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print(d['config']['db']['port'])

5432

### Question 47: Create a dictionary with nested tuples

In [48]:
d = {'points': ((1,2),(3,4)), 'rgb': ((255,0,0),(0,255,0))}
print(d)

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

### Question 48: Extract first point coordinates

In [49]:
d = {'points': ((1,2),(3,4)), 'rgb': ((255,0,0),(0,255,0))}
print(d['points'][0])

(1, 2)

### Question 49: Create a dictionary with nested sets (using frozenset)

In [50]:
d = {'groups': {frozenset({1,2,3}), frozenset({4,5,6})}, 'categories': {frozenset({'a','b'}), frozenset({'c','d'})}}
print(d)

{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})}, 'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}}

### Question 50: Find union of all nested sets

In [51]:
d = {'groups': {frozenset({1,2,3}), frozenset({4,5,6})}, 'categories': {frozenset({'a','b'}), frozenset({'c','d'})}}
union_groups = set().union(*d['groups'])
union_categories = set().union(*d['categories'])
print("Groups union:", union_groups)
print("Categories union:", union_categories)

Groups union: {1, 2, 3, 4, 5, 6}
Categories union: {'a', 'c', 'b', 'd'}