In [1]:
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}

### Assignment Questions

**Question 1: Create a set of first 10 natural numbers**

In [2]:
natural_numbers = set(range(1, 11))
print(natural_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Question 2: Add element 11 to set {1, 2, 3, 4, 5}**

In [3]:
s = {1, 2, 3, 4, 5}
s.add(11)
print(s)

{1, 2, 3, 4, 5, 11}

**Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}**

In [4]:
s = {1, 2, 3, 4, 5, 6}
s.remove(3)
print(s)

{1, 2, 4, 5, 6}

**Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}**

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.intersection(set2))

{4, 5}

**Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}**

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.difference(set2))

{1, 2, 3}

**Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}**

In [7]:
s = {1, 2, 3, 4, 6, 7, 8}
print(5 in s)

False

**Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}**

In [8]:
s = {'a', 'b', 'c', 'd', 'e'}
print(len(s))

5

**Question 8: Create a set of vowels from string 'hello world'**

In [9]:
s = 'hello world'
vowels = {'a', 'e', 'i', 'o', 'u'}
print(set(s).intersection(vowels))

{'o', 'e'}

**Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set**

In [10]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print(set(lst))

{1, 2, 3, 4, 5, 6, 7}

**Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}**

In [11]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}
print(set1.issubset(set2))

True